.products {
  display: flex;
  justify-content: center;
  height: 1156px;
  background-color: #e5f9f7;

  .products-container {
    height: 1156px;
    width: 1050px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    .product-texts {
      width: 1044px;
      height: 134px;

      .product-texts-contents {
        width: 691px;
        height: 134px;

        h6 {
          margin: 0;
          width: 120px;
          height: 24px;
          font-size: 14px;
          font-weight: 700;
          line-height: 24px;
          letter-spacing: 0.20000000298023224px;
          text-align: left;
          color: #ff685b;
        }

        h2 {
          margin: 10px 0 10px 0;
          width: 355px;
          height: 50px;
          font-size: 40px;
          font-weight: 700;
          line-height: 50px;
          letter-spacing: 0.20000000298023224px;
          text-align: left;
          color: #252b42;
        }

        p {
          margin: 0;
          width: 469px;
          height: 40px;
          font-size: 14px;
          font-weight: 600;
          line-height: 20px;
          letter-spacing: 0.20000000298023224px;
          text-align: left;
          color: #737373;
        }
      }
    }

    .product-cards {
      display: flex;
      width: 1045px;
      height: 622px;
      margin-top: 80px;

      .product-card-item {
        display: flex;
        flex-direction: column;
        width: 348px;
        height: 622px;

        img {
          width: 338px;
          height: 300px;
        }

        .product-card-content {
          display: flex;
          justify-content: center;
          width: 338px;
          height: 322px;
          background-color: #ffffff;

          .content-area{
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 300px;
            height: 300px;
            margin-top: 5px;
          }

          .first-div {
            display: flex;
            justify-content: space-between;
            width: 298px;
            height: 26px;

            img {
              width: 50px;
              height: 26px;
            }

            a {
              text-decoration: none;
              width: 160px;
              height: 24px;
              font-size: 14px;
              font-weight: 700;
              line-height: 24px;
              letter-spacing: 0.20000000298023224px;
              text-align: left;
              color: #ff685b;
            }
          }

          h5 {
            margin: 10px 0px 10px 0px;
            width: 170px;
            height: 24px;
            font-size: 16px;
            font-weight: 700;
            line-height: 24px;
            letter-spacing: 0.10000000149011612px;
            text-align: left;
            color: #252b42;
          }

          p {
            margin: 0px 0px 10px 0px;
            width: 280px;
            height: 60px;
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
            letter-spacing: 0.20000000298023224px;
            text-align: left;
            color: #737373;
          }

          .second-div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 83px;
            height: 24px;
            margin-bottom: 10px;

            img {
              width: 16px;
              height: 16px;
            }

            h6 {
              margin: 0px;
              width: 60px;
              height: 24px;
              font-size: 14px;
              font-weight: 700;
              line-height: 24px;
              letter-spacing: 0.20000000298023224px;
              text-align: left;
              color: #737373;
            }
          }

          .third-div {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 108px;
            height: 34px;
            margin-bottom: 10px;

            h5:nth-child(1) {
              width: 52px;
              height: 24px;
              font-size: 16px;
              font-weight: 700;
              line-height: 24px;
              letter-spacing: 0.10000000149011612px;
              text-align: center;
              color: #bdbdbd;
            }

            h5:nth-child(2) {
              width: 45px;
              height: 24px;
              font-size: 16px;
              font-weight: 700;
              line-height: 24px;
              letter-spacing: 0.10000000149011612px;
              text-align: center;
              color: #5aaca8;
            }
          }

          .learn-button{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 141.14px;
            height: 44px;
            padding: 10px 20px 10px 20px;
            border-radius: 37px;
            border: 1px solid #FF685B;
            background-color: #ffffff;
            
            h6{
              margin: 0px;
              width: 85px;
              height: 24px;             
              font-size: 14px;
              font-weight: 700;
              line-height: 24px;
              letter-spacing: 0.20000000298023224px;
              text-align: left;
              color: #ff685b;
            }

            img{
              width: 9.14px;
              height: 16px;
              margin-left: 5px;
            }
          }

        }
      }
    }
  }
}
