.stats {
  display: flex;
  justify-content: center;
  height: 264px;
  gap: 10px;
  background: #ffffff;

  .stats-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1050px;
    height: 264px;
    gap: 50px;
    opacity: 0px;

    .stats-rows {
      display: flex;
      justify-content: center;
      width: 1049px;
      height: 104px;
      gap: 30px;

      .stats-item {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        width: 238px;
        height: 104px;

        h1 {
          margin: 0;
          width: 140px;
          height: 80px;
          font-size: 58px;
          font-weight: 700;
          line-height: 80px;
          letter-spacing: 0.20000000298023224px;
          text-align: center;
          color: #ff685b;
        }

        h5 {
          margin: 0;
          width: 200px;
          height: 24px;
          font-size: 16px;
          font-weight: 700;
          line-height: 24px;
          letter-spacing: 0.10000000149011612px;
          text-align: center;
          color: #252b42;
        }
      }
    }
  }
}
